/**
 * @type {{classname}}{{#description}}
 * {{{description}}}{{/description}}
 * @export
 */
/* eslint-disable @typescript-eslint/no-explicit-any */
export type {{classname}} = {{#oneOf}}{{{.}}}{{^-last}} | {{/-last}}{{/oneOf}};
